[submodule "nanorc"]
  path = .nano
  url = https://github.com/scopatz/nanorc.git
  branch = master

[submodule "nfancurve"]
	path = nfancurve
	url = https://github.com/nan0s7/nfancurve.git
  branch = master
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
