[core]
	pager = delta
	ignorecase = false
	preloadIndex = true
[user]
	name = Davlatjon Shavkatov
	email = dalisoft.dev@gmail.com
	signingKey = 2B47FD15064C6CCCC90CA251E833E64EF42E8DEA
[commit]
	gpgsign = true
[init]
	defaultBranch = master
[branch]
	autosetuprebase = always
	sort = -committerdate
[fetch]
	recurseSubmodules = on-demand
	prune = true
	pruneTags = true
[push]
	autoSetupRemote = true
[tag]
	forceSignAnnotated = true
[cola]
	spellcheck = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	stat = status --show-stash -b -uall --renames --ignore-submodules=none --untracked-files=all
	re = reflog expire --expire=now --expire-unreachable=now --all
	ra = repack -ad
	p = prune --expire=now
	f = fetch --all --prune
	opt = !git gc --aggressive --prune=all && git ra && git re && git p && git fsck
	sru = submodule update --init --recursive --remote
	si = sru --rebase
	suf = sru --force --checkout
	rb = rebase --committer-date-is-author-date
	prb = !git pull --rebase --committer-date-is-author-date && git su
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	pull = pull --ff-only
	branch-parent = !"git branch --contains $(cat .git/ORIG_HEAD)"
[interactive]
	diffFilter = delta --color-only
[submodule]
	recurse = true
[status]
	showUntrackedFiles = all
	submoduleSummary = false
[diff]
	ignoreSubmodules = none
	submodule = log
	colorMoved = default
	algorithm = histogram
[delta]
	navigate = true
	light = true
	side-by-side = true
	line-numbers = true
	hyperlinks = true
	hyperlinks-file-link-format = "file-line://{path}:{line}"
[merge]
	conflictStyle = diff3
[advice]
	ignoredHook = false
[rerere]
	enabled = true
[column]
	ui = auto
[url "ssh://git@"]
	insteadOf = git://
[includeIf "gitdir:~/Desktop/open_source/"]
	path = ~/Desktop/open_source/.gitconfig
