[submodule "nanorc"]
  path = .nano
  url = https://github.com/scopatz/nanorc.git
  branch = master

[submodule "nfancurve"]
  path = nfancurve
  url = https://github.com/nan0s7/nfancurve.git
  branch = master