[core]
	pager = delta
	ignorecase = false
	preloadIndex = true
	fsmonitor = false
	untrackedCache = false
[pager]
	difftool = true
[feature]
	manyFiles = false
[user]
	name = Davlatjon Shavkatov
	email = dalisoft.dev@gmail.com
	signingKey = 2B47FD15064C6CCCC90CA251E833E64EF42E8DEA
[commit]
	gpgsign = true
[init]
	defaultBranch = master
[branch]
	autosetuprebase = always
	sort = -committerdate
[fetch]
	recurseSubmodules = on-demand
	prune = true
	pruneTags = true
[push]
	autoSetupRemote = true
[tag]
	forceSignAnnotated = true
[cola]
	spellcheck = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	stat = status --show-stash -b -uall --renames --ignore-submodules=none --untracked-files=all
	re = reflog expire --expire=now --expire-unreachable=now --all
	ra = repack -ad
	p = prune --expire=now
	f = fetch --all --prune
	opt = !git re && git gc --aggressive --prune=all && git ra && git p && git fsck
	sru = submodule update --init --recursive --remote
	si = sru --rebase
	suf = sru --force --checkout
	rb = rebase --committer-date-is-author-date
	prb = !git pull --rebase --committer-date-is-author-date && git su
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	pull = pull --ff-only
	branch-parent = !"git branch --contains $(cat .git/ORIG_HEAD)"
	permission-reset = !git diff -p -R --no-ext-diff --no-color --diff-filter=M | /usr/bin/grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[interactive]
	diffFilter = delta --color-only --features=interactive
[submodule]
	recurse = true
[status]
	showUntrackedFiles = all
	submoduleSummary = false
[diff]
	ignoreSubmodules = none
	submodule = log
	colorMoved = default
	colorMovedWS = allow-indentation-change
	renameLimit = 5000
	algorithm = histogram
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[difftool "diffsitter"]
	cmd = diffsitter "$LOCAL" "$REMOTE"
[delta]
	navigate = true
	# dark = true
	side-by-side = true
	line-numbers = true
	hyperlinks = true
	hyperlinks-file-link-format = "vscode://file/{path}:{line}"
	diff-so-fancy = false
	theme = GitHub
	true-color = always
[merge]
	conflictStyle = zdiff3
[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
[advice]
	ignoredHook = false
[rerere]
	enabled = true
[column]
	ui = auto
[url "ssh://git@"]
	insteadOf = git://
[includeIf "gitdir:~/Desktop/open_source/"]
	path = ~/Desktop/open_source/.gitconfig
