[user]
  name = Davlatjon Shavkatov
  email = dalisoft.dev@gmail.com
  signingKey = 2B47FD15064C6CCCC90CA251E833E64EF42E8DEA
[commit]
  gpgsign = true
[tag]
  forceSignAnnotated = true
[alias]
  commit = commit -S
[cola]
  spellcheck = true
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[init]
  defaultBranch = master
[core]
  ignorecase = false
[advice]
  ignoredHook = false
